---
http_interactions:
- request:
    method: post
    uri: http://api.bitly.com/v3/expand
    body:
      encoding: UTF-8
      string: shortURL=http%3A%2F%2Fbit.ly%2FbcvNe5&login=my-login&apiKey=my-api-key
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{ "status_code": 200, "status_txt": "OK", "data": { "expand": [ { "short_url":
        "http:\/\/bit.ly\/bcvNe5", "long_url": "http:\/\/google.com", "user_hash":
        "bcvNe5", "global_hash": "zzzzzzz" } ] } }

'
  recorded_at: Sat, 01 Oct 2016 19:29:26 GMT
recorded_with: VCR 3.0.3
