---
http_interactions:
- request:
    method: get
    uri: http://api.bitly.com/v3/clicks?apiKey=my-api-key&login=my-login&shortUrl=http://bit.ly/xlii42
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a6d2ce859ab41b205deb5d920fa10e3143a79bf2"'
    body:
      encoding: UTF-8
      string: '{"status_code": 200, "data": {"clicks": [{"short_url": "http://bit.ly/xlii42",
        "global_hash": "cunZEP", "user_clicks": 2, "user_hash": "cT1Izu", "global_clicks":
        2}]}, "status_txt": "OK"}'
  recorded_at: Sun, 02 Oct 2016 03:46:13 GMT
recorded_with: VCR 3.0.3
