---
http_interactions:
- request:
    method: post
    uri: http://api.bit.ly/v3/shorten
    body:
      encoding: UTF-8
      string: longURL=http%3A%2F%2Fgoogle.com&login=my-login&apiKey=my-api-key
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{ "status_code": 200, "status_txt": "OK", "data": { "long_url": "http:\/\/google.com\/",
        "url": "http:\/\/bit.ly\/lVW32C", "hash": "lVW32C", "global_hash": "3j4ir4",
        "new_hash": 0 } }

'
  recorded_at: Sat, 01 Oct 2016 19:28:37 GMT
recorded_with: VCR 3.0.3
